*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width:100%;
    height: 100vh;
    /*background: #e3f9ff;*/
    display:flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, rgb(0, 255, 242), rgb(236, 2, 253));

}

.calculator{
    background:#140353;
    padding: 20px;
    border-radius: 50px;
    box-shadow: -10px -10px 15px 5px rgba(3, 3, 3, 0.92),5px 5px 15px rgb(248, 50, 209);
}
/* .name h1{
    border: 2px solid transparent;
    position: relative;
    width:100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: normal;
   
} */
.calculator form input.screen{
    background: #08e6bdde;
    border-radius: 10px;
    margin:10px;
    width: 80px;
    height: 80px;
}
.calculator form input.colorr{
    color:white;
}
.calculator form input.equal{
    width:153px;
    height:70px;
    border-radius: 100%;
    margin:10px;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: -8px -8px 15px rgb(0, 0, 0),5px 5px 15px rgba(0,0,0,0.2);
    background:#4734b6 ;
    font-size: 22px;
    color: #181515;
    cursor:pointer;
    margin:9px;
}
.calculator form input.bt:hover{
    font-size:26px;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
input.screen{
    background: #33ffd8;
}
form .display input{
    text-align: right;
    flex:1;
    font-size:45px;
    box-shadow: none;
}

form input.equal{
    width:145px;
    border-radius: 100%;
}
form input.operator{
    color: #33ffd8;
}